# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode build outputs & caches
build/
DerivedData/
ModuleCache/
*.profraw
*.profdata
*.app
*.dSYM

# Xcode user preferences
*.xcuserdatad
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/

# Python & Temporary Artifacts
*.pyc
__pycache__/
*.swp
*~
